# Important Ideas about Programming
* pick good variable names, e.g., __`cost_per_ounce`__ vs. __`cpo`__

# Important Things About Python
* basic datatypes: __`int, float, bool, str`__
* scalars vs. containers
  * scalar = object that holds a single value (e.g., __`int, float, bool`__)
  * container = object that holds 0+ objects (e.g., __`str`__)
* Python is dynamically typed
   1. when you declare a variable, no need to tell Python what type is
   2. you are free to put a value of a different type into that variable
* the built-in function DO NOT change the objects that are passed into to them

In [3]:
count = 0

In [4]:
# 100s of lines later...
count = 'Dave' # make count a string/text variable

In [5]:
# Boolean variables are either True or False
# and are typically named so that the True or False
succeeded = True # 1
error_occured = False # 0

# "Pythonic"
* Rick: "I'm a Java programmer and I've been teaching myself Python, but my Python looks like Java"
* we want to use Python idioms and write our code so that readers see what they expect
* e.g., if an object is difficult to work with, consider changing its type
  * __`container[-1]`__ means the LAST item of the container
  * __`container[-n]`__ means nth from the end of the container

In [12]:
type(number)

float

In [14]:
number + 3.1

28.1

In [17]:
print(number, 3 * 17.8, 'text')

SyntaxError: invalid syntax. Perhaps you forgot a comma? (4090549515.py, line 1)

In [18]:
print(number)

25.0

In [19]:
number

25.0

In [20]:
str(number)

'25.0'

In [21]:
number

25.0

In [ ]:
year = 2025
greeting = 'Welcome to ' + str(year)

In [28]:
greeting

'Welcome to 2025'

In [29]:
print('Welcome to', year)

Welcome to 2025

In [31]:
int(3.76)

3

In [32]:
int(3) # the int version of any int is itself

3

In [33]:
import math # bring the math module ("library") from the hard drive and put it memory

In [34]:
math.sqrt(25)

5.0

In [35]:
math.sqrt(1.0)

1.0

In [36]:
number = 13.72

In [37]:
int(number)

13

In [38]:
round(number)

14

In [9]:
float = 2.3 # Python did not "NO, I won't do this because float() is a function"

In [10]:
float

2.3

In [11]:
float(1)

TypeError: 'float' object is not callable

In [12]:
del float # remove the variable called "float" that I mistakenly made

In [13]:
float(1)

1.0

In [15]:
number = 2
number = number + 4
number += 4 # add 4 to number, same as above
number

10

In [18]:
print()
print(1)

1

In [21]:
print(1, 2, 3, sep='...', end='/')
print(4)

1...2...3/4

In [22]:
25 % 4

1

In [23]:
25 % 5

0

In [25]:
a, b, o, p = 'b', 'a', 'p', 'o'

In [26]:
o + p + o

'pop'

In [27]:
a * 3 + b

'bbba'

In [28]:
a + p * 2 + 'k' * 2 + 'e' * 2 + o + 'er'

'bookkeeper'

In [29]:
number = 1234

In [30]:
number = 1234.567

In [31]:
name = 'Marc'
len(name)

4

In [32]:
len(1234)

TypeError: object of type 'int' has no len()

In [33]:
name = '' # valid string...how long is it?

In [34]:
len(name)

0

In [35]:
name = 'Puxsutawney'

In [36]:
# suppose we want to know how many digits are in an integer
# can we call len() on an integer? NO
# can we call len() on a string?

In [37]:
number = 12345

In [39]:
len(str(number))

5

In [40]:
str(number)

'12345'

In [51]:
number = number // 10

In [52]:
number

0

In [53]:
4 == 2 + 2

True

In [54]:
5 != 2 + 3

False

In [55]:
# in is used to determine if something is IN a container
's' in 'salesƒorce'

True

In [56]:
'sales' in 'salesƒorce'

True

In [57]:
44 % 2

0

In [58]:
77 % 2

1

In [59]:
if 2 + 2 == 4:
    # if 2 + 2 is 4, then
    # run all of the indented statements
    print('yes')
    print('ok')

yes
ok

In [62]:
if name != 'Dave':
    print('not Dave')

not Dave

In [61]:
name

'Puxsutawney'